<!--  军训专题 -->
<link href="http://vjs.zencdn.net/6.2.4/video-js.css" rel="stylesheet">

<link rel="stylesheet" href="./stylesheets/activity.css">
<link rel="stylesheet" href="./stylesheets/index.css">

<div class="activity-banner">
    <div class="activity-content">
        <div class="activity-nav">
            <button class="btn1 forward">笑脸迎新</button>
            <button class="btn2 forward">学长学姐帮帮忙</button>
        </div>
        <div class="activity-main">
            <div class="help-center">
                <div class="help-nav">
                    <button class='all'>全部</button>
                    <button class='study'>学习类</button>
                    <button class='life'>生活类</button>
                    <button class='act'>活动类</button>
                    <button class='org'>组织类</button>
                    <button class='other'>其他类</button>
                <div class="help-underline"></div>
                
                </div>
                <div class="content-help">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                    </ul>
                </div>
             </div>
        </div>

         <div class="welcome">
            <div class="smile-activity">
                <img src="../images/activity/smile-banner.png" alt="smile-banner" class="smile-banner">
                <div class="join-activity">
                    <p><span>活动时间: </span>本次上线时间为2017年8月10日9：00--2017年9月8日12：00</p>
                    <hr>
                    <p><span>活动主题: </span>新生笑脸征集——晒晒通知书</p>
                    <hr>                    
                    <p><span>活动对象: </span>2017级所有小鲜肉</p>
                    <hr>
                    <p><span>参与方式: </span>上传认为最有特色或创意录取通知书的合照（每人限一张）参与活动</p>
                    <hr>
                    <p><span>照片形式: </span>不限形式、照片可以是新生，特色景物，小物件和录取通知书的合照。</p>
                </div>
            </div>
        </div>
    </div>
</div>