<!-- 重邮攻略 -->
<link rel="stylesheet" href="./stylesheets/guide.css">
<div class="guide-box">
    <div class="guide-content">
        <div class="allButtons">
            <div class="guide-btn forward">学生寝室</div>
            <div class="guide-btn forward" ref='lists'>新生清单</div>
            <div class="guide-btn forward">学生食堂</div>
            <div class="guide-btn forward">周边风景</div>
            <div class="guide-btn forward btn-clicked" ref='qq'>QQ群大全</div>
            <div class="guide-btn forward" ref='safe'>安全守则</div>
            <div class="guide-btn forward" ref='route'>行车路线</div>
            <div class="guide-btn forward">周边生活</div>
        </div>
        <div class="allDivs">
            <div class="guide-div"></div>
            <div class="lists">
                <div class="lists-content">
                    <div class="lists-one">
                        <span class='b'>报到时间:</span>
                        <div class=lists-one-content>本科新生2017年9月14、15日报道</div>
                    </div>
                    <div class="lists-one">
                        <span class='b'>报到地点:</span>
                        <div class=lists-one-content>重庆邮电大学风雨操场</div>
                    </div>
                    <div class="lists-one">
                        <span class='b'>新生必带:</span>
                        <div class=lists-one-content>自带同版近期照片共15张（要求光面相纸洗印，白底一寸，半神，正脸，免冠大头照片），新生档案，党
团关系证明，户口本（需要迁户口的同学携带），录取通知书，高考准考证，身份证以及身份证（复印件
多复印几份，多复印几份，虽然学校并未做要求），银行卡（缴学费）,少量现金。</div>
                    </div>
                    <div class="lists-one">
                        <span class='b'>洗护用品:</span>
                        <div class=lists-one-content>男生的剃须刀，女生的护肤品（男生也可以适当准备一些），日常洗漱需要的物品（诸如牙膏牙刷，毛巾，
沐浴露，盆桶一以及洗衣物所需要的洗衣液，刷子等等。</div>
                    </div>
                    <div class="lists-one">
                        <span class='b'>衣物方面:</span>
                        <div class=lists-one-content>生的剃须刀，女生的护肤品（男生也可以适当准备一些），日常洗漱需要的物品（诸如牙膏牙刷，毛巾，
沐浴露，盆桶一以及洗衣物所需要的洗衣液，刷子等等。</div>
                    </div>
                    <div class="lists-one">
                        <span class='b'>个人物品:</span>
                        <div class=lists-one-content>电脑（笔记本最宜，其他的数码产品根据自己的情况进行添置），以及一些学习物品（签字笔，笔记本等
等），台灯，水杯等等。
</div>
                    </div>
                </div>
            </div>
            <div class="guide-div"></div>
            <div class="guide-div"></div>
            <div class="qq">
                <div class="qq-content">
                    <b>学院新生群</b>
                    <div class="xsqun">
                        <div class="xsqun-left">
                            <div class="xsqun-one">2017贴吧新生总群：636208141</div>
                            <div class="xsqun-one">通信与信息工程学院：498167991</div>
                            <div class="xsqun-one">计算机与科学技术学院：638612170</div>
                            <div class="xsqun-one">自动化学院：574872113</div>
                            <div class="xsqun-one">光电学院 国际半导体学院：636449199</div>
                            <div class="xsqun-one">外国语学院：333094013</div>
                            <div class="xsqun-one">传媒艺术学院：527468298</div>
                            <div class="xsqun-one">编导：621039140</div>
                            <div class="xsqun-one">2017级重邮编导交流群：277821038</div>
                            <div class="xsqun-one">生物学院：637402699</div>
                        </div>
                        <div class="xsqun-right">
                            <div class="xsqun-one">生物2017级新生群：654028289</div>
                            <div class="xsqun-one">信管：362192309</div>
                            <div class="xsqun-one">经济管理学院： 545772871</div>
                            <div class="xsqun-one">工程管理：552540368</div>
                            <div class="xsqun-one">软件工程学院：482656306</div>
                            <div class="xsqun-one">安法学院院学生会认证官方新生群：162240404</div>
                            <div class="xsqun-one">安法学院新生群：615223073</div>
                            <div class="xsqun-one">理学院：575159267</div>
                            <div class="xsqun-one">体育学院：649510732</div>
                            <div class="xsqun-one">国际学院：17443276</div>
                            <div class="xsqun-one">先进制造学院：563565394</div>
                        </div>
                    </div>
                    <b>老乡群</b>
                    <div class="lxqun">
                        <div class="lxqun-left">
                            <div class="lxqun-one">贵州2017：601631814</div>
                            <div class="lxqun-one">河北： 548535234  </div>
                            <div class="lxqun-one">安徽： 562487104  </div>
                            <div class="lxqun-one">辽宁： 134489031</div>
                            <div class="lxqun-one">河南： 310222276</div>
                            <div class="lxqun-one">重邮河南老乡群： 251311309 </div>
                            <div class="lxqun-one">河南安阳： 116198098</div>
                            <div class="lxqun-one">山东： 384043802</div>
                            <div class="lxqun-one">江苏： 123736116</div>
                            <div class="lxqun-one">黑龙江： 316348915</div>
                            <div class="lxqun-one">潮汕： 4958681</div>
                            <div class="lxqun-one">江西： 3889855</div>
                            <div class="lxqun-one">江西上饶： 476426072 </div>
                            <div class="lxqun-one">浙江： 247010642</div>
                            <div class="lxqun-one">广西贵港： 5819894</div>
                            <div class="lxqun-one">广西南宁： 16026851</div>
                            <div class="lxqun-one">广西： 9651531</div>
                            <div class="lxqun-one">广西柳州： 7045893</div>
                            <div class="lxqun-one">广东： 113179139</div>
                            <div class="lxqun-one">广东韶关： 66484867</div>
                            <div class="lxqun-one">广东惠州： 213337022</div>
                            <div class="lxqun-one">山西： 119738941</div>
                            <div class="lxqun-one">海南： 9334029</div>
                            <div class="lxqun-one">福建： 173210510</div>
                            <div class="lxqun-one">吉林： 118060379</div>
                            <div class="lxqun-one">云南宣威： 211910023</div>
                            <div class="lxqun-one">云南玉溪： 256581906</div>
                            <div class="lxqun-one">云南曲靖： 117499346</div>
                            <div class="lxqun-one">云南： 548640416</div>
                            <div class="lxqun-one">重邮云南老乡会（包括云南各地）官方群： 42052111</div>
                            <div class="lxqun-one">天津： 8690505</div>
                            <div class="lxqun-one">湖北恩施： 179765240</div>
                            <div class="lxqun-one">湖北： 33861584</div>
                            <div class="lxqun-one">湖北黄冈老乡群： 181704337</div>
                            <div class="lxqun-one">湖南： 204491110</div>
                            <div class="lxqun-one">重庆梁平： 85423833</div>
                        </div>
                        <div class="lxqun-right">
                            <div class="lxqun-one">重庆忠县： 115637967</div>
                            <div class="lxqun-one">重庆铜梁： 198472776</div>
                            <div class="lxqun-one">重庆大足： 462534986</div>
                            <div class="lxqun-one">重庆开县： 5657168</div>
                            <div class="lxqun-one">重庆荣昌： 149452192</div>
                            <div class="lxqun-one">重庆永川： 467050041</div>
                            <div class="lxqun-one">重庆丰都： 343292119</div>
                            <div class="lxqun-one">重庆涪陵： 199748999</div>
                            <div class="lxqun-one">重庆云阳： 118971621</div>
                            <div class="lxqun-one">重庆璧山： 112571803</div>
                            <div class="lxqun-one">重庆石柱： 289615375</div>
                            <div class="lxqun-one">重庆彭水： 283978475</div>
                            <div class="lxqun-one">重庆南川： 423494314</div>
                            <div class="lxqun-one">重庆长寿： 69124125</div>
                            <div class="lxqun-one">重庆垫江 307233230</div>
                            <div class="lxqun-one">重庆合川： 226325326</div>
                            <div class="lxqun-one">重庆荣昌： 149452192</div>
                            <div class="lxqun-one">重庆綦江： 109665788</div>
                            <div class="lxqun-one">重庆奉节： 50078959</div>
                            <div class="lxqun-one">重庆铜梁： 198472776</div>
                            <div class="lxqun-one">重庆黔江： 102897346</div>
                            <div class="lxqun-one">重庆万州： 469527984</div>
                            <div class="lxqun-one">重庆巫溪： 143884210</div>
                            <div class="lxqun-one">重庆巫山： 129440237</div>
                            <div class="lxqun-one">四川简阳： 570320904</div>
                            <div class="lxqun-one">四川大群： 148985246   142604890</div>
                            <div class="lxqun-one">四川成都： 298299346</div>
                            <div class="lxqun-one">四川自贡： 444020511</div>
                            <div class="lxqun-one">四川绵阳： 191653502</div>
                            <div class="lxqun-one">陕西： 193388613</div>
                            <div class="lxqun-one">重邮新疆： 248052400</div>
                            <div class="lxqun-one">青海： 282597612</div>
                            <div class="lxqun-one">北京： 143833720</div>
                            <div class="lxqun-one">甘肃美术老乡： 578076400</div>
                            <div class="lxqun-one">甘肃： 155724412</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="safe">
                <div class="safe-content">
                    <div class="safe-one">
                        <span class='b'>防止上当:</span>
                        <div class=safe-one-content>一些不法分子利用新生刚入学不熟悉的情况，以老师，学长或者老乡的身份骗取新生信任，然后以代费、减免学费等多种方式进行诈骗。</div>
                    </div>
                    <div class="safe-one">
                        <span class='b'>现金适当:</span>
                        <div class=safe-one-content>不携带过多现金。数额较大的现金应该及时存入银行，存折、银行卡、身份证尽量分开放；使用银行卡要谨慎以防密码泄露。</div>
                    </div>
                    <div class="safe-one">
                        <span class='b'>拒绝推销:</span>
                        <div class=safe-one-content>拒绝上门推销。许多不法分子以到寝室推销为名进行诈骗或盗窃，如若发现上门推销人员，应该及时报告宿管人员或者保卫处。</div>
                    </div>
                    <div class="safe-one">
                        <span class='b'>注意防盗:</span>
                        <div class=safe-one-content>室内注意防盗。要保管好自己的笔记本电脑、手机等贵重物品，不要将其随意放置，以免被“顺手牵羊”。</div>
                    </div>
                    <div class="safe-one">
                        <span class='b'>消防安全:</span>
                        <div class=safe-one-content>注意消防安全。爱护消防设施，寝室内不违章使用大功率电器。</div>
                    </div>
                    <div class="safe-one">
                        <span class='b'>交通安全:</span>
                        <div class=safe-one-content>注意交通安全。不乘坐“黑车”和存在安全隐患的车辆。</div>
                    </div>
                    <div class="safe-one">
                        <span class='b'>求助:</span>
                        <div class=safe-one-content>遇到情况及时与公安机关联系。在遇到不法侵害时，要及时与公安机关（110）或者学校保卫处联系（62461018,62460110）</div>
                    </div>
                    
                </div>
            </div>
            <div class="route">
                <div class="route-content">
                    <div class="route-one">
                        <b>迎新接站:</b>
                        <span>报道期间，我校将在重庆火车北站南、北广场设新生接待站，有同学负责引导新生到指定地点乘车。</span>
                    </div>
                    <div class="route-one">
                        <b>重庆江北机场（距离学校约40公里）:</b>
                        <span>可乘机场大巴至上清寺后转乘108路公交车至南坪，再转乘346或347路公交车到学校；或乘轻轨三号线到南坪，再转乘346或347路公交车到学校；直接打车到校费用约为70元；</span>
                    </div>
                    <div class="route-one">
                        <b>龙头寺火车站、重庆北站（距离学校约20公里）:</b>
                        <span>乘323路或168路公交车至南坪，转乘346或347路公交车至学校：或乘轻轨三号线到南坪，再转乘346或347路公交车到学校；直接打车到校费用约40元；</span>
                    </div>
                    <div class="route-one">
                        <b>菜园坝火车站、汽车站（距离学校约12公里）:</b>
                        <span>可在菜园坝广场乘347路公交车至学校；直接打车到校费用约为25元；</span>
                    </div>
                    <div class="route-one">
                        <b>朝天门码头（距离学校约9公里）:</b>
                        <span>可乘车至南坪后转乘346或347路公交车至学校；直接打车到校费用约为20元。</span>
                    </div>
                </div>
            </div>
            <div class="guide-div"></div>
        </div>
    </div>
</div>

<script>
let btns =  $('.allButtons .forward')
let divs = $('.allDivs')

btns.click(function () {
    btns.removeClass('btn-clicked')
    $(this).addClass('btn-clicked')

    let ref = $(this).attr('ref')
    divs.children().hide('fast')
    divs.find(ref).show('fast')
    
})
</script>