<!-- 重邮攻略 -->
<link rel="stylesheet" href="./stylesheets/guide.css">
<div class="guide-box">
    <div class="guide-content">
        <div class="allButtons">
            <div class="guide-btn forward stud" ref='stu-bedroom'>学生寝室</div>
            <div class="guide-btn forward">新生清单</div>
            <div class="guide-btn forward" ref='stu-mess'>学生食堂</div>
            <div class="guide-btn forward" ref="stu-landscape">周边风景</div>
            <div class="guide-btn forward" ref='qq'>QQ群大全</div>
            <div class="guide-btn forward">安全守则</div>
            <div class="guide-btn forward">行车路线</div>
            <div class="guide-btn forward">周边生活</div>
        </div>
        <div class="allDivs">
            <div class="stu-bedroom">
                <div class="bedroom-content">
                    <div class="bedroom-nav">
                        <button class="xingye" index="0">兴业苑</button>
                        <button class="zhixing" index="1">知行苑</button>
                        <button class="mingli" index="2">明理苑</button>
                        <button class="ningjing"  index="3">宁静苑</button>
                        <div class="process-bar"></div>
                    </div>
                    <ul class="changeMess">
                        <li class="xingye-bedroom-bottom">
                            <div class="bedroom-banner">
                                <div class="carousel-container">
                                    <div class="carousel-1 carou-left"><img src="../images/guide/bedroom/mingli/2.jpg" alt="mingli"></div>
                                    <div class="carousel-2 carou-center"><img src="../images/guide/bedroom/mingli/3.jpg" alt="mingli"></div>
                                    <div class="carousel-3 carou-right"><img src="../images/guide/bedroom/mingli/4.jpg" alt="mingli"></div>
                                </div>
                                <div class="demo">
                                    <button class="left"></button>
                                    <button class="right"></button>
                                </div>
                            </div>
                            <div class="bedroom-word">
                                <p class="summary">兴业苑（17--23栋）：</p>
                                <p>屹立于悠悠重邮高处，周边风景秀丽，分布在太极运动场周围，，周边有学校的兴业苑食堂及众多的超市</p>
                                <p>、商铺，校车从这里穿过，内部均设有独立卫生间，并在一些楼层设有洗衣机供大家使用，根据每栋宿舍</p>
                                <p>不同，楼层不同分为4人间、6人间两种。4人间都是上床下铺，而6人间则是上下铺与上床下桌的混搭。</p>
                            </div>
                        </li>
                        <li class="zhixing-bedroom-bottom">
                            <div class="bedroom-banner">
                                <div class="carousel-container">
                                    <div class="carousel-1 carou-left"><img src="../images/guide/bedroom/ningjing/2.jpg" alt="ningjing"></div>
                                    <div class="carousel-2 carou-center"><img src="../images/guide/bedroom/ningjing/3.jpg" alt="ningjing"></div>
                                    <div class="carousel-3 carou-right"><img src="../images/guide/bedroom/ningjing/4.jpg" alt="ningjing"></div>
                                </div>
                                <div class="demo">
                                    <button class="left"></button>
                                    <button class="right"></button>
                                </div>
                            </div>
                            <div class="bedroom-word">
                                <p class="summary">知行苑（1—6，15,16）：</p>
                                <p>位于中心食堂附近的1,5,6栋是学校现存最老的寝室，住宿条件比较差，整体情况是每层楼设有公用的卫生间</p>
                                <p>、洗澡间，这也就意味着每个寝室都没有独立卫生间，没有阳台。处于校园中心，上课、生活都极其便利。</p>
                                <p>但位于情人坡附近的15,16栋，是学校标准的4人间，上床下桌，配有阳台，独立卫生间。楼栋周边环境一流</p>
                                <p>，食堂与超市一应俱全，为学习生活提供不少的便利。。</p>
                            </div>
                        </li>
                        <li class="mingli-bedroom-bottom">
                            <div class="bedroom-banner">
                                <div class="carousel-container">
                                    <div class="carousel-1 carou-left"><img src="../images/guide/bedroom/xingye/2.jpg" alt="mingli"></div>
                                    <div class="carousel-2 carou-center"><img src="../images/guide/bedroom/xingye/3.jpg" alt="mingli"></div>
                                    <div class="carousel-3 carou-right"><img src="../images/guide/bedroom/xingye/4.jpg" alt="mingli"></div>
                                </div>
                                <div class="demo">
                                    <button class="left"></button>
                                    <button class="right"></button>
                                </div>
                            </div>
                            <div class="bedroom-word">
                                <p class="summary">明理苑（24—31,39）：</p>
                                <p>位于千喜鹤食堂正街上，可以俯瞰全校以及南山的部分美丽景色，这里也是重邮夏天最凉爽的地方。可以坐</p>
                                <p>私家车直达寝室，周围有两个超市和上铺，并且校车穿过，每个寝室都为6人间，并设有独立卫生间，每一</p>
                                <p>栋楼里面配置有洗衣机可供大家使用，应有尽有，可以尽情满足同学们的平日生活需求。</p>
                            </div>
                        </li>
                        <li class="ningjing-bedroom-bottom">
                            <div class="bedroom-banner">
                                <div class="carousel-container">
                                    <div class="ningjing-bedroom"><img src="../images/guide/bedroom/zhixing/2.jpg" alt="mingli"></div>
                                </div>
                            </div>
                            <div class="bedroom-word">
                                <p class="summary">宁静苑（8—12，32--35）：</p>
                                <p>坐落在美丽的情人坡旁，是妹子们散心聊天约会的好去处；篮球、网球、羽毛球这些周围球场为大家的</p>
                                <p>锻炼提供了方便，与新校区紧连，周边分布有“千喜鹤”、“延生”等食堂。宿舍基本为6人间基本情况与</p>
                                <p>22-24相同且有独立的阳台、卫浴，床铺是上下铺与上床下桌的混搭，人流量很少，环境比较清静。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="guide-div"></div>
            <div class="stu-mess">
                <div class="bedroom-content">
                    <div class="mess-nav">
                        <button class="xing" index="0">兴业苑</button>
                        <button class="qianxi" index="1">千喜鹤</button>
                        <button class="daxibei" index="2">大西北</button>
                        <button class="honggaoliang"  index="3">红高粱</button>
                        <button class="zhongxin"  index="4">中心食堂</button>
                        <button class="yansheng"  index="5">衍生</button>
                        <div class="process-bar"></div>
                    </div>
                    <ul class="changeBedroom">
                        <li class="xingye-mess-bottom">
                            <div class="bedroom-banner">
                                <div class="carousel-container">
                                    <div class="carousel-1 carou-left"><img src="../images/guide/mess/xingye/1.jpg" alt="mingli"></div>
                                    <div class="carousel-2 carou-center"><img src="../images/guide/mess/xingye/2.jpg" alt="mingli"></div>
                                    <div class="carousel-3 carou-right"><img src="../images/guide/mess/xingye/3.jpg" alt="mingli"></div>
                                </div>
                                <div class="demo">
                                    <button class="left"></button>
                                    <button class="right"></button>
                                </div>
                            </div>
                            <div class="bedroom-word">
                                <p class="summary">兴业苑（17--23栋）：</p>
                                <p>屹立于悠悠重邮高处，周边风景秀丽，分布在太极运动场周围，，周边有学校的兴业苑食堂及众多的超市</p>
                                <p>、商铺，校车从这里穿过，内部均设有独立卫生间，并在一些楼层设有洗衣机供大家使用，根据每栋宿舍</p>
                                <p>不同，楼层不同分为4人间、6人间两种。4人间都是上床下铺，而6人间则是上下铺与上床下桌的混搭。</p>
                            </div>
                        </li>
                        <li class="qianxi-mess-bottom">
                            <div class="bedroom-banner">
                                <div class="carousel-container">
                                    <div class="carousel-1 carou-left"><img src="../images/guide/mess/qianxihe/1.jpg" alt="mingli"></div>
                                    <div class="carousel-2 carou-center"><img src="../images/guide/mess/qianxihe/2.jpg" alt="mingli"></div>
                                    <div class="carousel-3 carou-right"><img src="../images/guide/mess/qianxihe/3.jpg" alt="mingli"></div>
                                </div>
                                <div class="demo">
                                    <button class="left"></button>
                                    <button class="right"></button>
                                </div>
                            </div>
                            <div class="bedroom-word">
                                <p class="summary">兴业苑（17--23栋）：</p>
                                <p>屹立于悠悠重邮高处，周边风景秀丽，分布在太极运动场周围，，周边有学校的兴业苑食堂及众多的超市</p>
                                <p>、商铺，校车从这里穿过，内部均设有独立卫生间，并在一些楼层设有洗衣机供大家使用，根据每栋宿舍</p>
                                <p>不同，楼层不同分为4人间、6人间两种。4人间都是上床下铺，而6人间则是上下铺与上床下桌的混搭。</p>
                            </div>
                        </li>
                        <li class="daxibei-mess-bottom">
                            <div class="bedroom-banner">
                                <div class="carousel-container">
                                    <div class="daxibei-mess"><img src="../images/guide/mess/daxibei/1.jpg" alt="mingli"></div>
                                </div>
                            </div>
                            <div class="bedroom-word">
                                <p class="summary">兴业苑（17--23栋）：</p>
                                <p>屹立于悠悠重邮高处，周边风景秀丽，分布在太极运动场周围，，周边有学校的兴业苑食堂及众多的超市</p>
                                <p>、商铺，校车从这里穿过，内部均设有独立卫生间，并在一些楼层设有洗衣机供大家使用，根据每栋宿舍</p>
                                <p>不同，楼层不同分为4人间、6人间两种。4人间都是上床下铺，而6人间则是上下铺与上床下桌的混搭。</p>
                            </div>
                        </li>
                        <li class="honggaoliang-mess-bottom">
                            <div class="bedroom-banner">
                                <div class="carousel-container">
                                    <div class="honggaoliang-mess"><img src="../images/guide/mess/honggaoliang/1.jpg" alt="mingli"></div>
                                </div>
                            </div>
                            <div class="bedroom-word">
                                <p class="summary">兴业苑（17--23栋）：</p>
                                <p>屹立于悠悠重邮高处，周边风景秀丽，分布在太极运动场周围，，周边有学校的兴业苑食堂及众多的超市</p>
                                <p>、商铺，校车从这里穿过，内部均设有独立卫生间，并在一些楼层设有洗衣机供大家使用，根据每栋宿舍</p>
                                <p>不同，楼层不同分为4人间、6人间两种。4人间都是上床下铺，而6人间则是上下铺与上床下桌的混搭。</p>
                            </div>
                        </li>
                        <li class="zhongxin-mess-bottom">
                            <div class="bedroom-banner">
                                <div class="carousel-container">
                                    <div class="zhongxin-mess"><img src="../images/guide/mess/zhongxin/1.jpg" alt="mingli"></div>
                                </div>
                            </div>
                            <div class="bedroom-word">
                                <p class="summary">兴业苑（17--23栋）：</p>
                                <p>屹立于悠悠重邮高处，周边风景秀丽，分布在太极运动场周围，，周边有学校的兴业苑食堂及众多的超市</p>
                                <p>、商铺，校车从这里穿过，内部均设有独立卫生间，并在一些楼层设有洗衣机供大家使用，根据每栋宿舍</p>
                                <p>不同，楼层不同分为4人间、6人间两种。4人间都是上床下铺，而6人间则是上下铺与上床下桌的混搭。</p>
                            </div>
                        </li>
                        <li class="yansheng-mess-bottom">
                            <div class="bedroom-banner">
                                <div class="carousel-container">
                                    <div class="yansheng-mess"><img src="../images/guide/mess/yansheng/1.jpg" alt="mingli"></div>
                                </div>
                            </div>
                            <div class="bedroom-word">
                                <p class="summary">兴业苑（17--23栋）：</p>
                                <p>屹立于悠悠重邮高处，周边风景秀丽，分布在太极运动场周围，，周边有学校的兴业苑食堂及众多的超市</p>
                                <p>、商铺，校车从这里穿过，内部均设有独立卫生间，并在一些楼层设有洗衣机供大家使用，根据每栋宿舍</p>
                                <p>不同，楼层不同分为4人间、6人间两种。4人间都是上床下铺，而6人间则是上下铺与上床下桌的混搭。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="stu-landscape">
                <div class="bedroom-content">
                    <div class="bedroom-banner">
                        <div class="bedroom-banner">
                            <div class="carousel-container">
                                <div class="carousel-1 carou-left"><img src="../images/guide/mess/xingye/1.jpg" alt="mingli"></div>
                                <div class="carousel-2 carou-center"><img src="../images/guide/mess/xingye/2.jpg" alt="mingli"></div>
                                <div class="carousel-3 carou-right"><img src="../images/guide/mess/xingye/3.jpg" alt="mingli"></div>
                            </div>
                            <div class="demo">
                                <button class="left"></button>
                                <button class="right"></button>
                            </div>
                        </div>
                    </div>
                    <div class="bedroom-word">
                        <p class="summary">兴业苑（17--23栋）：</p>
                        <p>屹立于悠悠重邮高处，周边风景秀丽，分布在太极运动场周围，，周边有学校的兴业苑食堂及众多的超市</p>
                        <p>、商铺，校车从这里穿过，内部均设有独立卫生间，并在一些楼层设有洗衣机供大家使用，根据每栋宿舍</p>
                        <p>不同，楼层不同分为4人间、6人间两种。4人间都是上床下铺，而6人间则是上下铺与上床下桌的混搭。</p>
                    </div>
                </div>
            </div>
            <div class="qq">
                <div class="qq-content">
                    <b>学院新生群</b>
                    <div class="xsqun">
                        <div class="xsqun-left">
                            <div class="xsqun-one">2017贴吧新生总群：636208141</div>
                            <div class="xsqun-one">通信与信息工程学院：498167991</div>
                            <div class="xsqun-one">计算机与科学技术学院：638612170</div>
                            <div class="xsqun-one">自动化学院：574872113</div>
                            <div class="xsqun-one">光电学院 国际半导体学院：636449199</div>
                            <div class="xsqun-one">外国语学院：333094013</div>
                            <div class="xsqun-one">传媒艺术学院：527468298</div>
                            <div class="xsqun-one">编导：621039140</div>
                            <div class="xsqun-one">2017级重邮编导交流群：277821038</div>
                            <div class="xsqun-one">生物学院：637402699</div>
                        </div>
                        <div class="xsqun-right">
                            <div class="xsqun-one">生物2017级新生群：654028289</div>
                            <div class="xsqun-one">信管：362192309</div>
                            <div class="xsqun-one">经济管理学院： 545772871</div>
                            <div class="xsqun-one">工程管理：552540368</div>
                            <div class="xsqun-one">软件工程学院：482656306</div>
                            <div class="xsqun-one">安法学院院学生会认证官方新生群：162240404</div>
                            <div class="xsqun-one">安法学院新生群：615223073</div>
                            <div class="xsqun-one">理学院：575159267</div>
                            <div class="xsqun-one">体育学院：649510732</div>
                            <div class="xsqun-one">国际学院：17443276</div>
                            <div class="xsqun-one">先进制造学院：563565394</div>
                        </div>
                    </div>
                    <b>老乡群</b>
                    <div class="lxqun">
                        <div class="lxqun-left">
                            <div class="lxqun-one">贵州2017：601631814</div>
                            <div class="lxqun-one">河北： 548535234  </div>
                            <div class="lxqun-one">安徽： 562487104  </div>
                            <div class="lxqun-one">辽宁： 134489031</div>
                            <div class="lxqun-one">河南： 310222276</div>
                            <div class="lxqun-one">重邮河南老乡群： 251311309 </div>
                            <div class="lxqun-one">河南安阳： 116198098</div>
                            <div class="lxqun-one">山东： 384043802</div>
                            <div class="lxqun-one">江苏： 123736116</div>
                            <div class="lxqun-one">黑龙江： 316348915</div>
                            <div class="lxqun-one">潮汕： 4958681</div>
                            <div class="lxqun-one">江西： 3889855</div>
                            <div class="lxqun-one">江西上饶： 476426072 </div>
                            <div class="lxqun-one">浙江： 247010642</div>
                            <div class="lxqun-one">广西贵港： 5819894</div>
                            <div class="lxqun-one">广西南宁： 16026851</div>
                            <div class="lxqun-one">广西： 9651531</div>
                            <div class="lxqun-one">广西柳州： 7045893</div>
                            <div class="lxqun-one">广东： 113179139</div>
                            <div class="lxqun-one">广东韶关： 66484867</div>
                            <div class="lxqun-one">广东惠州： 213337022</div>
                            <div class="lxqun-one">山西： 119738941</div>
                            <div class="lxqun-one">海南： 9334029</div>
                            <div class="lxqun-one">福建： 173210510</div>
                            <div class="lxqun-one">吉林： 118060379</div>
                            <div class="lxqun-one">云南宣威： 211910023</div>
                            <div class="lxqun-one">云南玉溪： 256581906</div>
                            <div class="lxqun-one">云南曲靖： 117499346</div>
                            <div class="lxqun-one">云南： 548640416</div>
                            <div class="lxqun-one">重邮云南老乡会（包括云南各地）官方群： 42052111</div>
                            <div class="lxqun-one">天津： 8690505</div>
                            <div class="lxqun-one">湖北恩施： 179765240</div>
                            <div class="lxqun-one">湖北： 33861584</div>
                            <div class="lxqun-one">湖北黄冈老乡群： 181704337</div>
                            <div class="lxqun-one">湖南： 204491110</div>
                            <div class="lxqun-one">重庆梁平： 85423833</div>
                        </div>
                        <div class="lxqun-right">
                            <div class="lxqun-one">重庆忠县： 115637967</div>
                            <div class="lxqun-one">重庆铜梁： 198472776</div>
                            <div class="lxqun-one">重庆大足： 462534986</div>
                            <div class="lxqun-one">重庆开县： 5657168</div>
                            <div class="lxqun-one">重庆荣昌： 149452192</div>
                            <div class="lxqun-one">重庆永川： 467050041</div>
                            <div class="lxqun-one">重庆丰都： 343292119</div>
                            <div class="lxqun-one">重庆涪陵： 199748999</div>
                            <div class="lxqun-one">重庆云阳： 118971621</div>
                            <div class="lxqun-one">重庆璧山： 112571803</div>
                            <div class="lxqun-one">重庆石柱： 289615375</div>
                            <div class="lxqun-one">重庆彭水： 283978475</div>
                            <div class="lxqun-one">重庆南川： 423494314</div>
                            <div class="lxqun-one">重庆长寿： 69124125</div>
                            <div class="lxqun-one">重庆垫江 307233230</div>
                            <div class="lxqun-one">重庆合川： 226325326</div>
                            <div class="lxqun-one">重庆荣昌： 149452192</div>
                            <div class="lxqun-one">重庆綦江： 109665788</div>
                            <div class="lxqun-one">重庆奉节： 50078959</div>
                            <div class="lxqun-one">重庆铜梁： 198472776</div>
                            <div class="lxqun-one">重庆黔江： 102897346</div>
                            <div class="lxqun-one">重庆万州： 469527984</div>
                            <div class="lxqun-one">重庆巫溪： 143884210</div>
                            <div class="lxqun-one">重庆巫山： 129440237</div>
                            <div class="lxqun-one">四川简阳： 570320904</div>
                            <div class="lxqun-one">四川大群： 148985246   142604890</div>
                            <div class="lxqun-one">四川成都： 298299346</div>
                            <div class="lxqun-one">四川自贡： 444020511</div>
                            <div class="lxqun-one">四川绵阳： 191653502</div>
                            <div class="lxqun-one">陕西： 193388613</div>
                            <div class="lxqun-one">重邮新疆： 248052400</div>
                            <div class="lxqun-one">青海： 282597612</div>
                            <div class="lxqun-one">北京： 143833720</div>
                            <div class="lxqun-one">甘肃美术老乡： 578076400</div>
                            <div class="lxqun-one">甘肃： 155724412</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="safe"></div>
            <div class="guide-div"></div>
            <div class="guide-div"></div>
        </div>
    </div>
</div>

<script>
let btns =  $('.allButtons .forward');
let divs = $('.allDivs');


btns.click(function () {
    btns.removeClass('btn-clicked')
    $(this).addClass('btn-clicked')
    let ref = $(this).attr('ref')
    divs.children().hide('fast')
    divs.find(ref).show('fast')
    
})







</script>