<!-- 首页的子页面 -->
<link rel="stylesheet" href="./stylesheets/index.css">
<div class="index">
    <div class="map"></div>
    <div class="training"></div>
    <div class="fourBox">
        <div class="guide smallBox"></div>
        <div class="activity smallBox"></div>
        <div class="mien smallBox"></div>
        <div class="aboutus smallBox"></div>
    </div>
</div>
