<!-- 首页的子页面 -->
<link rel="stylesheet" href="./stylesheets/index.css">
<div class="index">
    <div class="map">
        <div class="map-container">
        </div>
        <div class="conter">
            <div class="dragImg">
                <img src="../images/map.gif" alt="map" class="Img">
        </div>
            <div class="glass">
                <span class="big">+</span>
                <span class="small">-</span>
            </div>
        </div>
    </div>
    <div class="training">
        <div class="lalian"></div>
        <div class="trainingImg">
            <div class="img1"></div>
            <div class="img2"></div>
            <div class="img3"></div>
        </div>
        <div class="training-content"><p>一路上我们迎着晨曦，踏着有力的步伐，喊着响亮的口号，从新校门出发，途经347终点站，绕至学校老校门，徒步行进15公里。15公里的拉练和防爆演练锻炼了
我们的体魄，磨练了我们的意志。</p></div>
        <button class="forward training-forward"><a href="./training">了解更多</a></button>
    </div>
    <div class="fourBox">
        <div class="twoBox box-one">
            <div class="guide smallBox leftBox">
                <div class="guide-icon"></div>
                <div class="guide-content"><p>提供给新生们火车站，机场等到学校的公交车路线以及打车的大致 费用、寝室条件、必备清单、新生群、老乡群、班级群、学校周边 银行、</p></div>
                <button class="forward guide-forward"><a href="./guide">了解更多</a></button>
            </div>
            <div class="data smallBox rightBox">
                <div class="data-icon"></div>
                <div class="data-content"><p>我校学科结构不断优化，学科特色日益凸显，学科优势更加突出， 学科实力不断增强。截至2014年11月，我校有2个一级学科博士学 </p></div>
                <button class="forward data-forward"><a href="./data">了解更多</a></button>
            </div>
        </div>
        <div class="twoBox box-two">
            <div class="mien smallBox leftBox">
                <div class="mien-icon"></div>
                <div class="mien-content"><p>这里有优秀教师和邮子的风采展示，各大校级学生组织的简介，更 有精美照片与精彩原创视频。</p></div>
                <button class="forward mien-forward"><a href="./mien">了解更多</a></button>
            </div>
            <div class="aboutus smallBox rightBox">
                <div class="aboutus-icon"></div>
                <div class="aboutus-content"><p>红岩网校工作站简介。优秀内网展示、以及各种迎新活动专题。 我们一直在努力。</p></div>
                <button class="forward aboutus-forward"><a href="http://hongyan.cqupt.edu.cn/aboutus/">了解更多</a></button>
            </div>
        </div>
    </div>
    <div class="activity">
        <div class="smile">
            <div class="smile-content"><p>想了解更多关于学校的日常？想提前了解自己的专业？或者有其他方面的问题，就来“学长学姐帮帮忙”板块，
学长学姐们都在这里，等待着你的提问。</p></div>
            <button type='button' class='forward smile-forward'><a href="./activity">了解更多</a></button>
        </div>
        <div class="help">
            <div class="help-content"><p>想了解更多关于学校的日常？想提前了解自己的专业？或者有其他方面的问题，就来“学长学姐帮帮忙”板块，
学长学姐们都在这里，等待着你的提问。</p></div>
            <button type='button' class='forward help-forward'><a href="#">了解更多</a></button>
        </div>
    </div>
</div>
