<!-- 整个布局/框架，即不变的部分 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>导航栏</div>
    <ul>
        <li><a href="/training">重邮军训</a></li>
        <li><a href="/data">重邮数据</a></li>
        <li><a href="/guide">新生攻略</a></li>
        <li><a href="/mien">新生风采</a></li>
        <li><a href="/activity">迎新活动</a></li>
    </ul>
    <%- body %>
</body>
</html>