<!-- 整个布局/框架，即不变的部分 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/layout.css">
    <script src='./javascripts/jquery.js'></script>    
</head>
<body>
    <header>
        <div class="header">
            <img src="./images/qrcode1.png"  class='qrcode1'>
            <img src="./images/qrcode2.png"  class='qrcode2'>
            <img class='logo' src="images/logo.png" alt="">
            <div class="banner">
                <ul>
                    <li class='banner-index'><a href="/" >首页</a></li>
                    <li class='banner-training'><a href="/training" >军训专题</a></li>
                    <li class='banner-guide'><a href="/guide" >邮子攻略</a></li>
                    <li class='banner-data'><a href="/data" >重邮数据</a></li>
                    <li class='banner-mien'><a href="/mien" >重邮风采</a></li>
                    <li class='banner-activity'><a href="/activity" >迎新活动</a></li>
                    <li><a href="http://hongyan.cqupt.edu.cn/aboutus/">关于我们</a></li>
                </ul>
            </div>
            <img src="./images/backTop.png" alt="backTop" class="backTop">
        </div>
    </header>
    <div class="header2"></div>

    <div class='contain'>
        <div class="car">
            <div class="timeBar">
                <div class="td days">
                    <div class="num dayS"></div>
                    <div class="num dayT"></div>
                </div>
                <div class="td hours">
                    <div class="num hoursS"></div>
                    <div class="num hoursT"></div>
                </div>
                <div class="td minutes">
                    <div class="num minS"></div>
                    <div class="num minT"></div>
                </div>
                <div class="td seconds">
                    <div class="num secS"></div>
                    <div class="num secT"></div> 
                </div>
            </div>
            <div class="boy"></div>
            <div class="bird"></div>
            <div class="cqupt-dream"></div>
            <div class="open-car"></div>
            <div class="cqupt-door"></div>
            <div class="watch-man"></div>
        </div>
        <%- body %>
    </div>

    <div class="footer">
        <div class="content">
            <p>
                <a href="http://hongyan.cqupt.edu.cn/aboutus/">关于红岩网校</a>
                <span>|</span>
                <a href="##">网站地图</a>
                <span>|</span>
                <a href="##">指出错误</a>
                <span>|</span>
                <a href="##">管理入口</a>
            </p>
            <p>本网站由红岩网校工作站负责开发，管理，不经红岩网校委员会书面同意，不得进行转载</p>
            <p>地址：重庆市南岸区崇文路2号（重庆邮电大学内） 400065 E-mail :redrock@cqupt.edu.cn (023-62461084)</p>

        
        </div>
    </div>

    
<script src='./javascripts/layout.js'></script>
<script src="./javascripts/map.js"></script>
</body>
</html>