<!--  军训专题 -->
<link rel="stylesheet" href="./stylesheets/training.css">
<link rel="stylesheet" href="./stylesheets/index.css">
<div class="training-banner">
    <div class="training-main">
        <div class="training-nav">
            <button class="training-video training-btn forward" ref='vedio'>军训影像</button> 
            <button class="training-elegant training-btn forward" ref='mein'>连队风采</button> 
            <button class="training-tip training-btn forward" ref='tips'>军训贴士</button>      
            <button class="training-song training-btn forward" ref='song'>军歌推荐</button>
        </div>
        <div class="show">
            <div class="training-cont vedio" >
            </div>
            <div class="training-cont tips" >
                <div class="training-tip-nav">
                    <ul>
                        <li>
                            <span class="train-content">训练内容</span>
                        </li>
                        <li>
                            <span class="train-know">军训知识</span>
                        </li>
                        <li>
                            <span class="train-song">军歌推荐</span>
                        </li>
                    </ul>
                </div>
                <div class="underline-wrapper">
                   <div class="underline"> 

                   </div> 
                </div>
                <div class="training-tip-content">
                    <ul class="content-wrapper">
                        <li class="content-item">

                        </li>
                        <li class="content-item">

                        </li>
                        <li class="content-item">

                        </li>
                    </ul>
                </div>
            </div>
            <div class="training-cont mein" >
            </div>
            <div class="training-cont song" >
            </div>
            <!-- <ul class="banner-wrapper">
                <li class="training-cont vedio">
                    <div class="vedio-main">
                        
                    </div>
                    <div class="vedio-banner">
                        
                    </div> 
                </li>
                <li class="training-cont mein">
                    <div class="mein-main">
                        
                    </div>
                    <div class="mein-banner">
                        
                    </div> 
                </li>
                <li class="training-cont tips">
                    
                </li>
                <li class="training-cont song">
                    
                </li>
            </ul> -->
        </div>
    </div>
</div>
