<!--  军训专题 -->
<link rel="stylesheet" href="./stylesheets/training.css">
<link rel="stylesheet" href="./stylesheets/index.css">
<div class="training-banner">
    <div class="training-mark"></div>
    <div class="training-nav">
        <button class="training-video training-btn forward">军训影像</button> 
        <button class="training-elegant training-btn forward">连队风采</button> 
        <button class="training-tip training-btn forward">军训贴士</button>      
        <button class="training-song training-btn forward">军歌推荐</button>
    </div>
    <div class="training-cont">
        <div class="training-tip-nav">
            <ul>
                <li><a href="#">训练内容</a></li>
                <li><a href="#">军训知识</a></li>
                <li><a href="#">军歌推荐</a></li>
            </ul>
        </div>
        <div class="training-tip-content">
            
        </div>
    </div>
</div>
