.guide-box {
    position: relative;
    right: 40px;
    width: 1100px;
    height: 1400px;
    margin: 0 auto;
    margin-bottom: 150px;
    background: url(../images/guide/guide-box.png) no-repeat;
    background-position: -30px 0px;
    overflow: hidden;
}

.guide-content {
    width: 970px;
    height: 1100px;
      /* background: red;    */
    position: absolute;
    right: 25px;
    bottom: 130px;
} 

.allButtons {
    width: 950px;
    margin-left: 20px;
    height: 200px;
}

.guide-btn {
    float: left;
    width: 202px;
    height: 80px;
    margin: 15px 15px;
    box-shadow: -4px 4px 2px #f4d694,4px 0 2px #f4d694,-8px 8px 3px #ffbf1d;
    text-align: center;
    line-height: 80px;
    background-color: #f1ffe6;
    color: #f9a447;
    cursor: pointer;
    transition: background-color 2s, box-shadow 2s, color 0.5s;
}
.btn-clicked {
    background-color: #ff8756;
    box-shadow: -1px 1px 10px #ffffff,5px -5px 0px #fe6e34;
    color: #ffffff;
}

.allDivs {
    width: 970px;
    height: 870px;
    margin-top: 30px;
    
}






.lists {
    width: 100%;
    height: 100%;
    background: url(../images/guide/qq.png) no-repeat; 
    background-position: 10px 0px;
    position: relative;
    display: none;
}

.lists-content {
    width: 850px;
    height: 760px;
    position: absolute;
    right: 55px;
    top: 60px;
}

.lists-one {
    min-height: 70px;
    width: 600px;
    font-size: 14px;
    color: rgb(253, 176, 80);
    margin: 0 auto;
    border: 4px dashed;
    padding: 30px 0;
    box-sizing: border-box;
}

.lists-one:nth-child(odd) {
    border-image: url(../images/guide/line.png) 0 0 30 0;
} 

.lists-one:nth-child(even) {
    border-image: url(../images/guide/line2.png) 0 0 30 0;
}

.lists-one:last-child {
    border: none;
}

.lists .b {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: normal;    
    color: rgb(253, 107, 47);
}

.lists-one-content {
    width: 510px;
    display: inline-block;
    vertical-align: top;
}























.qq {
    width: 100%;
    height: 100%;
    background: url(../images/guide/qq.png) no-repeat; 
    background-position: 10px 0px;
    position: relative;
    display: none;
}

.qq-content {
    width: 850px;
    height: 760px;
    position: absolute;
    right: 30px;
    top: 60px;
    overflow-y: scroll;
}

.qq-content::-webkit-scrollbar {
    width: 9px;
    display: block 
    /* background: linear-gradient(to right, rgb(161, 235, 226), rgb(183, 241, 235), rgb(161, 235, 226)); */
}

 .qq-content::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, rgb(252, 148, 102), rgb(255, 157, 117));
    border-radius: 40px;
} 

.qq-content::-webkit-scrollbar-track {
    background: linear-gradient(to right, rgb(161, 235, 226), rgb(183, 241, 235), rgb(161, 235, 226));
    border-radius: 8px;
}
.qq-content b {
    color: rgb(253, 107, 47);
    font-weight: normal;
}

.xsqun {
    margin-top: 30px;
    height: 590px;
    width: 100%;
}

.xsqun-left {
    display: inline-block;
    width: 410px;
    height: 100%;
}

.xsqun-right {
    vertical-align: top;
    display: inline-block;
    width: 410px;
    height: 100%;
}

.xsqun-one {
    height: 46px;
    line-height: 46px;
    width: 360px;
    font-size: 14px;
    color: rgb(253, 176, 80);
    margin-right: 65px;
    /* 发现一个小trick */
    /* border: 6px solid; 
    border-image: url(../images/guide/qq.png) 0 0 50 0 fill; */
    border: 4px dashed; 
}

.xsqun-one:nth-child(odd) {
    border-image: url(../images/guide/line.png) 0 0 30 0;
} 

.xsqun-one:nth-child(even) {
    border-image: url(../images/guide/line2.png) 0 0 30 0;
}

.xsqun-one:last-child {
    border: none;
}




.lxqun {
    margin-top: 40px;
    height: 590px;
    width: 100%;
}

.lxqun-left {
    display: inline-block;
    width: 410px;
    height: 100%;
}

.lxqun-right {
    vertical-align: top;
    display: inline-block;
    width: 410px;
    height: 100%;
}

.lxqun-one {
    height: 46px;
    line-height: 46px;
    width: 360px;
    font-size: 14px;
    color: rgb(253, 176, 80);
    margin-right: 65px;
    border: 4px dashed; 
}

.lxqun-one:nth-child(odd) {
    border-image: url(../images/guide/line.png) 0 0 30 0;
} 

.lxqun-one:nth-child(even) {
    border-image: url(../images/guide/line2.png) 0 0 30 0;
}

.lxqun-one:last-child {
    border: none;
}

.stu-bedroom {
       width: 100%;
       height: 912px;
       background: url(../images/guide/bedroom-out.png) 10px 0px no-repeat;
}

.bedroom-content {
    width: 759px;
    height: 780px;
    margin: 0 auto;
    overflow: hidden;
}

.bedroom-content ul{
    position: relative;
    transition: left 1s;
    width: 600%;
}


.bedroom-content li{
    position: relative;
    float: left;
    width: 16.66%;
}


.bedroom-nav {
    width: 100%;
    height: 98px;
}
.bedroom-nav button {
    margin-top: 35px;
    height: 60px;
    padding: 0px 68px;
    text-align: center;
    line-height: 60px;
    color: #50b102;
}
.xingye-bedroom-bottom {
    overflow: hidden;
} 
.process-bar {
    position: relative;
    left: 60px;
    height: 5px;
    width: 60px;
    background-color: #ff8d13;
    transition: left 1s;
}

.bedroom-banner {
    margin-top: 60px;
    height: 360px;
    width: 100%;
}

.bedroom-word {
    height: 190px;
    width: 100%;
    margin-top: 53px;
}
.bedroom-word p {
    border-bottom: 1px solid #c9eea7;
    line-height: 25px;
    color: #ff9524;
    font-size: 14px; 
}
.bedroom-word p.summary{
    line-height: 40px;
    border-bottom: none;
    font-size: 16px;
    color: #fd6b2f;
}







.changeMess  {
    left: 0px;
}


.carousel-container{
    position: relative;
    width: 759px;
    margin: 0px auto;
    height: 360px;
}
.carousel-container div {
    position: absolute;
    width: 500px;
    height: 300px;
}

.carousel-container div img{
    width: 500px;
    height: 300px;
}

.carousel-1 {
    transition: left 0.6s,top 0.6s,width 0.6s,height 0.6s;
}
.c1 {
    transition: left 0.6s,top 0.6s,width 0.6s,height 0.6s;    
}

.carousel-container div.carou-center {
    top: 4px;
    left: 63px;  
    z-index:10;
    width: 626px;
    height: 350px;   
}

.carousel-container div.carou-center img{
    width: 626px;
    height: 350px;   
}


div.carousel-container div.zIndex-1 {
    z-index: 8;
}
div.carousel-container div.zIndex-2 {
    z-index: 9;
}

.carousel-2 {
    transition: left 0.6s,top 0.6s,width 0.6s,height 0.6s;
}
.c2 {
    transition: left 0.6s,top 0.6s,width 0.6s,height 0.6s;
}

.carousel-container div.carou-right {
    top: 31px;
    left: 259px;
    z-index: 9;   
}

.carousel-3 {
    transition: left 0.6s,top 0.6s,width 0.6s,height 0.6s;
}
.c3 {
    transition: left 0.6s,top 0.6s,width 0.6s,height 0.6s;
}

.carousel-container div.carou-left {
    z-index: 8;
    top: 31px;
    left: 0px;
}

.carousel-nav {
    margin: 100px auto;
    overflow: hidden;
}
.carousel-nav ul {
    list-style: none;
}
.carousel-nav ul li {
    float: left;
    width: 200px;
    height: 100px;
    margin: 0 50px;                   
}


.stu-mess {
       width: 100%;
       height: 912px;
       background: url(../images/guide/bedroom-out.png) 10px 0px no-repeat;
       display: none;
}



.mess-nav{
    width: 100%;
    height: 98px;
}

.mess-nav button {
    margin-top: 35px;
    height: 60px;
    padding: 0px 30px;
    text-align: center;
    line-height: 60px;
    color: #50b102;
}


.changeBedroom  {
    left: 0px;
}

.mess-nav .process-bar {
    position: relative;
    left: 25px;
    height: 5px;
    width: 60px;
    background-color: #ff8d13;
    transition: left 1s;
}




.stu-landscape {
       width: 100%;
       height: 912px;
       background: url(../images/guide/landscape.png) 10px 0px no-repeat;
       display: none;
}


.landscape-nav{
    width: 100%;
    height: 98px;
}

.landscape-nav button {
    margin-top: 35px;
    height: 60px;
    padding: 0px 30px;
    text-align: center;
    line-height: 60px;
    color: #50b102;
}


.changeBedroom  {
    left: 0px;
}

.landscape-nav .process-bar {
    position: relative;
    left: 25px;
    height: 5px;
    width: 60px;
    background-color: #ff8d13;
    transition: left 1s;
}

.carousel-container .ningjing-bedroom {
    width: 100%;
    height: 100%;
}
.carousel-container .ningjing-bedroom img{
    width: 100%;
    height: 100%;
}

.carousel-container div.daxibei-mess {
    width: 100%;
    height: 100%;
}

.carousel-container .daxibei-mess img{
    width: 100%;
    height: 100%;
}

.carousel-container div.honggaoliang-mess {
    width: 100%;
    height: 100%;
}

.carousel-container .honggaoliang-mess img{
    width: 100%;
    height: 100%;
}

.carousel-container div.zhongxin-mess {
    width: 100%;
    height: 100%;
}

.carousel-container .zhongxin-mess img{
    width: 100%;
    height: 100%;
}

.carousel-container div.yansheng-mess {
    width: 100%;
    height: 100%;
}

.carousel-container .yansheng-mess img{
    width: 100%;
    height: 100%;
}

.stu-landscape .carousel-container  {
    margin: 100px auto 0 auto;
}

.stu-landscape .demo {
    top: 500px;
    left: 102px;
}


.demo{
    position: absolute;
    top: 200px;
    left: 0px;
    width: 759px;
    height: 61px;
    z-index: 20;
}
.demo .left {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 61px;
    width: 41px;    
    background: url(../images/guide/arrow-left.png);
}

.demo .right {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 61px;
    width: 41px;    
    background: url(../images/guide/arrow-right.png);
}





.safe {
    width: 100%;
    height: 100%;
    background: url(../images/guide/qq.png) no-repeat; 
    background-position: 10px 0px;
    position: relative;
    display: none;
}

.safe-content {
    width: 850px;
    height: 760px;
    position: absolute;
    right: 55px;
    top: 80px;
}

.safe-one {
    min-height: 70px;
    width: 600px;
    font-size: 14px;
    color: rgb(253, 176, 80);
     margin: 0 auto; 
    border: 4px dashed; 
    padding: 30px 0;
    box-sizing: border-box;
}

.safe-one:nth-child(odd) {
    border-image: url(../images/guide/line.png) 0 0 30 0;
} 

.safe-one:nth-child(even) {
    border-image: url(../images/guide/line2.png) 0 0 30 0;
}

.safe-one:last-child {
    border: none;
}

.safe .b {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: normal;    
    color: rgb(253, 107, 47);
}

.safe-one-content {
    width: 510px;
    display: inline-block;
    vertical-align: top;
}





.route {
    width: 100%;
    height: 100%;
    background: url(../images/guide/qq.png) no-repeat; 
    background-position: 10px 0px;
    position: relative;
    display: none;
}

.route-content {
    width: 850px;
    height: 760px;
    position: absolute;
    right: 55px;
    top: 60px;
}


.route-one {
    min-height: 72px;
    width: 700px;
    font-size: 14px;
    color: rgb(253, 176, 80);
    margin: 0 auto;
    border: 4px dashed; 
    padding: 30px 0;
    box-sizing: border-box;
}

.route-one:nth-child(odd) {
    border-image: url(../images/guide/line.png) 0 0 30 0;
} 

.route-one:nth-child(even) {
    border-image: url(../images/guide/line2.png) 0 0 30 0;
}

.route-one:last-child {
    border: none;
}

.route-one b {
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
    font-weight: normal;    
    color: rgb(253, 107, 47);
}

.route-one span {
    font-size: 16px;
    display: inline-block;
    color: rgb(255, 164, 42)
}








