body {
    margin: 0;
    font-family: '微软雅黑'
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #555
}

button {
    padding: 0;
    cursor: pointer; 
    background: none; 
    border: none; 
    outline: none; 
    -webkit-appearance: none;  
}


p {
    font-size: 12px;
    font-family: 'SimSun';
}
/* 导航栏 */

header {
    width: 100%;
    height: 78px;
    background: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.header {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    margin-top: -24px;
}
.banner {
    width: 737px;
    height: 100%;
    position: absolute;
    right: 0;
    
}
.banner li {
    display: block;
    height: 78px;
    line-height: 78px;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
    /* transition: color 1s, background-color 1s;
    -webkit-transition: color 1s, background-color 1s; */
}
.clicked {
    background: rgb(164, 240, 135);
    color: #fff;
}
.banner li a {
    display: block;
    height: 100%;
    color: #000;
    font-size: 20px;
    transition: color 0.8s;
}

.banner li.clicked a {
    color: #fff;
}

.header2 {
    width: 100%;
    height: 5px;
} 


/* 二维码 */
.qrcode1 {
    position: absolute;
    top: 335px;
    left: -300px;
}

.qrcode2 {
    position: absolute;
    top: 335px;
    right: -300px;
}


/* 主体部分 */

.contain {
    min-width: 1000px;
    margin: 0 auto;
    background: url(../images/background.png) no-repeat center center;
    overflow: hidden;
    background-position: top;
    background-size: 100% 100%;
}

.car {
    position: relative;
    width: 1000px;
    height: 738px;
    margin: 70px auto 0;
    z-index: 10;
    background: url(../images/car-background.png) no-repeat 200px 490px;
 }
 .car-mask {
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: 10;
 }
.cqupt-dream {
    position: absolute;
    left: 200px;
    top: -400px;
    width: 640px;
    height: 360px;
    background: url(../images/cquptdream.png) -100px 0px no-repeat;
    z-index: 20;
    animation: wordMove 3s ease;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    transition: top 2s;
    /*transition: top 1s;*/
}

.cqupt-door {
    width: 201px;
    height: 113px;
    background: url(../images/door.png) no-repeat;
    position: absolute;
    top: 350px;
    left: 745px;
    animation: doorMove 2s;
    /*animation-delay: 2s;    */
    animation-iteration-count: infinite;    
}
@keyframes doorMove {
    0% {
        transform: rotate(0deg);        
    }
    10% {
        transform: rotate(3deg);
    }
    20% {
        transform: rotate(6deg);
    }
    30% {
        transform: rotate(7deg);
    }
    40% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(8deg);
    }
    70% {
        transform: rotate(7deg);
    }
    80% {
        transform: rotate(6deg);
    }
    90% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);        
    }
}

   
.open-car {
    width: 624px;
    height: 290px;
    position: absolute;
    left: 192px;
    top: 304px;
    background: url(../images/dream-car.png) no-repeat;
    animation: carMove 1.5s ease;
    z-index: 10;
}


.timeBar{
    position: absolute;
    top: 100px;
    left: 40px;
    width: 460px;
    height: 68px;
    transform: rotate(3.8deg);
    z-index: 200;
}

.timeBar .td{
    position: relative;
    top: 2px;
    float: left;
    width: 80px;
    height: 70px;
    padding: 5px;
    margin-right: 30px;
    overflow: hidden;
    box-sizing: border-box;
}


.minutes{
    margin-left: 14px;
}

.seconds{
    margin-left: 6px;
}


.td .num{
    width: 34px;
    height: 38px;
    margin-top: 10px;
    float: right;
    background: url(../images/time.png);
}

.conter {
    position: absolute;
    width: 879px;
    height: 432px;
    left: 147px;
    top: 189px;
    overflow: hidden; 
}
.dragImg {
    position: absolute;
    left: 0;
    top: 0;
    transform: left 1s, top 1s;
}
.Img {
    width: 879px;
    height: 433px;   
    transition: width 1s,height 1s;
}
.glass {
    position: absolute;
    top: 300px;
    left: 200px;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    font-size: 50px;
    cursor: pointer;
    z-index: 100;
}


/* 小图标 */


/* 底部 */

.footer {
    width: 100%;
    height: 180px;
    background: rgb(210, 243, 170);
    position: relative;
}

.footer .content {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
}

.footer .content p {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: '微软雅黑';
    color: #78b035;
}
.content a {
    color: #78b035;

}











/* 
 *特效 
*/

@keyframes flyUp {
    from {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(0, 30px)
    }

    50% {
        transform: translate(0, 0px)
    }
    
    75% {
        transform: translate(0, -30px)
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes flyDown {
    from {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(0, -30px)
    }


    50% {
        transform: translate(0, 0px)
    }
    
    75% {
        transform: translate(0, 30px)
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes wordMove {
    0% {
        transform: translate(0,0px);
    }
    2.5% {
        transform: translate(0,1px);
    }
    5% {
        transform: translate(0,2px);
    }
    7.5% {
        transform: translate(0,3px);
    }
    10% {
        transform: translate(0,4px);
    }
    12.5% {
        transform: translate(0,5px);
    }
    15% {
        transform: translate(0,6px);
    }
    17.5% {
        transform: translate(0,6.7px);
    }
    20% {
        transform: translate(0,7.4px);
    }
    22.5% {
        transform: translate(0,8.2px);
    }
    25% {
        transform: translate(0,8.6px);
    }
    27.5% {
        transform: translate(0,9px);
    }
    30% {
        transform: translate(0,8.6px);
    }
    32.5% {
        transform: translate(0,8.2px);
    }
    35% {
        transform: translate(0,7.4px);
    }
    37.5% {
        transform: translate(0,6.7px);
    }
    40% {
        transform: translate(0,6px);
    }
    42.5% {
        transform: translate(0,5px);
    }
    45% {
        transform: translate(0,4px);
    }
    47.5% {
        transform: translate(0,3px);
    }
    50% {
        transform: translate(0,2px);
    }
    52.5% {
        transform: translate(0,1px);
    }
    55% {
        transform: translate(0,0px);
    }
    57.5% {
        transform: translate(0,-1px);
    }
    60% {
        transform: translate(0,-2px);
    }
    62.5% {
        transform: translate(0,-3px);
    }
    65% {
        transform: translate(0,-4px);
    }
    67.5% {
        transform: translate(0,-5px);
    }
    70% {
        transform: translate(0,-5.8px);
    }
    72.5% {
        transform: translate(0,-6.3px);
    }
    75% {
        transform: translate(0,-6.8px);
    }
    77.5% {
        transform: translate(0,-7.1px);
    }
    80% {
        transform: translate(0,-6.8x);
    }
    82.5% {
        transform: translate(0,-6.3px);
    }
    85% {
        transform: translate(0,-5.8px);
    }
    87.5% {
        transform: translate(0,-5px);
    }
    90% {
        transform: translate(0,-4px);
    }
    92.5% {
        transform: translate(0,-3px);
    }
    95% {
        transform: translate(0,-2px);
    }
    97.5% {
        transform: translate(0,-1px);
    }
    100% {
        transform: translate(0,0px);
    }
}

@keyframes carMove {
    from {
        left: 800px;
    } to {
        left: 192px;
    }
}

.qrcode1 {
    animation: flyUp 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.qrcode2 {
    animation: flyDown 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.qrcode1:hover, .qrcode2:hover {
    animation-play-state: paused;
}

.backTop {
    position: absolute;
    right: -380px;
    top: 760px;
    cursor: pointer;
}



@keyframes swing {
    from {
        transform: rotate(20deg)
    }

    20% {
        transform: rotate(5deg);
        transform-origin: 19% 40%;
    }
    40% {
        transform: rotate(0deg);
        transform-origin: 21% 41%;
    }
    50% {
        transform: rotate(-3deg);
        transform-origin: 17% 42%;
    }
    60% {
        transform: rotate(0deg);
        transform-origin: 18% 42%;
    }
    80% {
        transform: rotate(5deg);
        transform-origin: 21% 39%;
    }
    to {
        transform: rotate(0deg);
        transform-origin: 20% 40%;
    }

}



.boy {
    width: 250px;
    height: 320px;
    background: url(../images/boy.png) no-repeat;
    transform-origin: 20% 40%;
    position: relative;
    top: -600px;
    right: 50px;
    animation: swing 8s infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
} 


.bird {
    width: 230px;
    height: 90px;
    background: url(../images/bird.png) no-repeat;
    position: relative;

}

.watch-man{
    position: absolute;
    left: 685px;
    top: 390px;
    width: 220px;
    height: 432px;
    z-index: 20;
    background: url(../images/doorman.png);
}