/*1167 × 1274*/
.training-banner {
    position: relative;
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    margin-bottom: 150px;
    background: url(../images/training/backOut.png);
}

.training-main{
    width: 1080px;
    margin: 0 auto;
    padding-top: 200px;
}

.training-nav {
    overflow: hidden;
}


button.training-btn {
    float: left;
    width: 205px;
    height: 80px;
    margin: 15px;
    box-shadow: -4px 4px 2px #f4d694,4px 0 2px #f4d694,-8px 8px 3px #ffbf1d;
    text-align: center;
    line-height: 80px;
    background-color: #f1ffe6;
    color: #f9a447;
}

.training-nav button:first-child{
    margin-left: 90px;
}

button.training-btn:hover{
    background-color: #ff8756;
    box-shadow: -1px 1px 10px #ffffff,5px -5px 0px #fe6e34;
    color: #ffffff;
}

.training-cont {
    height: 920px;
    width: 1030px;
    margin-right: 12px;
    float: right;
}

.show{
    width: 100%;
    overflow: hidden;
}

div.show .tips{
    background: url(../images/training/main_05.png);
    display: none;
}

div.show .vedio{
    background: url(../images/training/bac_05.png);
    display: show;
}

div.show .mein{
    background: url(../images/training/mein_05.png);
    display: none;
}

div.show .song{
    background: url(../images/training/bac_05.png);
    display: none;
}


.banner-wrapper{
    overflow: hidden;
    width: 400%;
    margin-left: -300%;
}

.training-tip-nav ul{
    margin-top: 25px;
    list-style: none;
    overflow: hidden;
}

.training-tip-nav ul li{
    float: left;
    height: 68px;
    width: 25%;
    text-align: center;
    line-height: 73px;
    font-size: 22px;
    box-sizing: border-box;
}

.training-tip-nav ul li:first-child{
    margin-left: 136px;
}

.training-tip-nav ul li span{
    color: #50b102;
    cursor: pointer;
}

.training-tip-nav ul li:hover{
    color: #f6a431;
}

.training-tip-content {
    margin-top: 30px;
    overflow: hidden;
}


.training-tip-nav span:hover{
    color: #ff8d13;
}

.content-wrapper{
    height: 100%;
    width: 300%;
    overflow: hidden;
}

.content-item{
    height: 100%;
    width: 33.33%;
    float: left;
}

.item-wrapper{
    margin-left: 100px;
    width: 80%;
    padding: 20px;
}

.underline-wrapper{
    position: relative;
    height: 5px;
    width: 100%;
}

.underline{
    position: absolute;
    left: 21.5%;
    width: 88px;
    height: 5px;
    border-radius: 3px;
    background-color: #ff8d13;
}

.item-wrapper span{
    display: inline-block;
    height: 620px;
    overflow: auto;
}

.item-wrapper h3,h2,h1{
    color: #fa9062;
}

.item-wrapper h2{
    margin-left: 190px;
    margin-bottom: 50px;
}

.item-wrapper p{
    color: #fea93e;
    padding-right: 20px;
    font-family: "weiruanyahei";
    line-height: 50px;
    font-size: 16px;
}

.train-name {
    width: 208px;
    height: 57px;
    margin: 52px auto 20px auto;
    background-color: skyblue;
}



.training-mien {
    position: relative;
    width: 923px;
    height: 765px;
    /*margin: 0px auto;*/
    margin: 0px 0px 0px 30px;
    overflow: hidden;
}
.mien-image {
    width: 923px; 
    float: left;
    overflow: hidden;     
    position: absolute;
    top: 0;
    right: 0;
}
.mien-image ul{
    list-style: none;
    overflow: hidden;
}
.mien-image ul li{
    float: left;
    width: 267px;
    height: 227px;
    background-image: url(../images/training/train-mien-1.png);
    float: left;
    margin: 0 5px 49px 27px;
}
.mien-image ul li:hover .train-mask{
    cursor: pointer;
    display: block;
}

.train-mask {
    width: 267px;
    height: 227px;
    background: rgba(100,100,100,.3);
    display: none;
    animation: fade-in 1s;
} 
@keyframes fade-in {  
0% {opacity: 0;}/*初始状态 透明度为0*/  
10%{opacity: 0.1;}
20%{opacity: 0.2;}
30%{opacity: 0.3;}
40%{opacity: 0.4;}
50%{opacity: 0.5;}
60%{opacity: 0.6;}
70%{opacity: 0.7;}
80%{opacity: 0.8;}
90% {opacity: 0.9;}/*过渡状态 透明度为0*/  
100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
.bigger {
    width: 927px;
    height: 814px;
    position: absolute;
    /*top: -80px;*/
    /*display: none;*/
    left: 0;
    top: -820px;
    transition: top 1s;
    /*background-color: red;*/
    border-radius: 50px;
}


.bigger-close{
    width: 54px;
    height: 54px;
    position: absolute;
    top: 24px;
    right: 27px;
    background-color: skyblue;
    margin-left: 500px;
}
.bigger-contain {
    width: 742px;
    height: 728px;
    margin: 85px auto 0 auto;
    background-color: white;
    
}
.bigger-contain-image {
    width: 742px;
    background-color: skyblue;
    height: 530px;
}
.bigger-contain h2 {
    line-height: 92px;
    text-align: center;
}




.mien-right {
    width: 14px;
    height: 100%;
    float: left;
    position: absolute;
    /*transform: rotate(10deg);*/
    top: 0;
    right: 0;
    background-color: green;
}
/*.mien-image ul li .brighting{*/
    /*position: absolute;
    background: url(./x.png);
    width: */
/*}*/
.bar {
    background-color: red;
    width: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 0;
    /*transform: rotate(10deg);*/
}
.bar:hover {
    cursor: pointer;
}